LANGSMITH_TRACING= # false if no test is needed
LANGSMITH_API_KEY="your langsmith api key"
GEMINI_API_KEY="your gemini api key" # optional if already in root env
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="your project name"